<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wee0.box.testDaos.ISysUserDao">
    <resultMap id="sysUserMap" type="java.util.Map">
        <result column="ID" property="id" javaType="java.lang.Integer"/>
        <result column="USER_NUM" property="userNum" javaType="java.lang.String"/>
        <result column="REALNAME" property="realname" javaType="java.lang.String"/>
        <result column="LOGIN_NAME" property="loginName" javaType="java.lang.String"/>
        <result column="PASSWORD" property="password" javaType="java.lang.String"/>
        <result column="SALT" property="salt" javaType="java.lang.String"/>
        <result column="STATUS_CD" property="statusCd" javaType="java.lang.String"/>
        <result column="SEX_CD" property="sexCd" javaType="java.lang.String"/>
        <result column="CERTIFICATE_TYPE_CD" property="certificateTypeCd" javaType="java.lang.String"/>
        <result column="CERTIFICATE_NUM" property="certificateNum" javaType="java.lang.String"/>
        <result column="QQ" property="qq" javaType="java.lang.String"/>
        <result column="WECHAT" property="wechat" javaType="java.lang.String"/>
        <result column="TELEPHONE" property="telephone" javaType="java.lang.String"/>
        <result column="MOBILE" property="mobile" javaType="java.lang.String"/>
        <result column="EMAIL" property="email" javaType="java.lang.String"/>
        <result column="FAX" property="fax" javaType="java.lang.String"/>
        <result column="PASS_ERROR_COUNT" property="passErrorCount" javaType="java.lang.Integer"/>
        <result column="LOGIN_SUCC_COUNT" property="loginSuccCount" javaType="java.lang.Integer"/>
        <result column="LOCK_TIME" property="lockTime" javaType="java.util.Date"/>
        <result column="REMARK" property="remark" javaType="java.lang.String"/>
        <result column="PROVINCE" property="province" javaType="java.lang.String"/>
        <result column="CITY" property="city" javaType="java.lang.String"/>
        <result column="DISTRICT" property="district" javaType="java.lang.String"/>
        <result column="ADDRESS" property="address" javaType="java.lang.String"/>
        <result column="CLNTEND_ID" property="clntendId" javaType="java.lang.String"/>
        <result column="CLNTEND_NM" property="clntendNm" javaType="java.lang.String"/>
        <result column="CREATE_TIME" property="createTime" javaType="java.util.Date"/>
        <result column="CREATE_USER" property="createUser" javaType="java.lang.String"/>
        <result column="UPDATE_TIME" property="updateTime" javaType="java.util.Date"/>
        <result column="UPDATE_USER" property="updateUser" javaType="java.lang.String"/>
        <result column="EXPD_ID" property="expdId" javaType="java.lang.String"/>
        <result column="DEL_IND" property="delInd" javaType="java.lang.String"/>
        <result column="VERSION" property="version" javaType="java.lang.Integer"/>
        <result column="TENANT_ID" property="tenantId" javaType="java.lang.String"/>
        <result column="LAST_LOGIN_TIME" property="lastLoginTime" javaType="java.util.Date"/>
    </resultMap>

    <sql id="column_list">
		SU.ID, SU.USER_NUM, SU.REALNAME, SU.LOGIN_NAME, SU.PASSWORD, SU.SALT,
		SU.STATUS_CD,
		SU.SEX_CD, SU.CERTIFICATE_TYPE_CD, SU.CERTIFICATE_NUM, SU.QQ, SU.WECHAT,
		SU.TELEPHONE,
		SU.MOBILE, SU.EMAIL, SU.FAX, SU.PASS_ERROR_COUNT, SU.LOGIN_SUCC_COUNT,
		SU.LOCK_TIME, SU.REMARK, SU.PROVINCE, SU.CITY, SU.DISTRICT,
		SU.ADDRESS,
		SU.CLNTEND_ID, SU.CLNTEND_NM, SU.CREATE_TIME, SU.CREATE_USER, SU.UPDATE_TIME,
		SU.UPDATE_USER, SU.EXPD_ID, SU.DEL_IND, SU.VERSION, SU.TENANT_ID,SU.LAST_LOGIN_TIME
	</sql>
    <sql id="column_simple_list">
		SU.ID, SU.USER_NUM, SU.REALNAME, SU.LOGIN_NAME,SU.STATUS_CD,
		SU.SEX_CD, SU.CERTIFICATE_TYPE_CD, SU.CERTIFICATE_NUM, SU.QQ, SU.WECHAT,
		SU.TELEPHONE,
		SU.MOBILE, SU.EMAIL, SU.FAX, SU.PASS_ERROR_COUNT, SU.LOGIN_SUCC_COUNT,
		SU.LOCK_TIME, SU.REMARK, SU.PROVINCE, SU.CITY, SU.DISTRICT,
		SU.ADDRESS,
		SU.CLNTEND_ID, SU.CLNTEND_NM, SU.CREATE_TIME, SU.CREATE_USER, SU.UPDATE_TIME,
		SU.UPDATE_USER, SU.EXPD_ID, SU.DEL_IND, SU.VERSION, SU.TENANT_ID,SU.LAST_LOGIN_TIME
	</sql>

    <sql id="where_filters">
        <where>
            <if test="id!=null and id!=''">
                AND SU.ID = #{id}
            </if>
            <if test="userNum!=null and userNum!=''">
                AND SU.USER_NUM = #{userNum}
            </if>
            <if test="userNums != null and userNums.size() > 0">
                AND SU.USER_NUM IN
                <foreach collection="userNums" item="userNum" index="index" open="(" close=")" separator=",">
                    #{userNum}
                </foreach>
            </if>

            <if test="realname!=null and realname!=''">
                AND SU.REALNAME LIKE concat(concat('%',#{realname}),'%')
            </if>

            <if test="loginNameLike!=null and loginNameLike!=''">
                AND SU.LOGIN_NAME LIKE concat(concat('%',#{loginNameLike}),'%')
            </if>
            <if test="loginName!=null and loginName!=''">
                AND SU.LOGIN_NAME = #{loginName}
            </if>

            <if test="mulLoginName!=null and mulLoginName!=''">
                AND (SU.LOGIN_NAME = #{mulLoginName} or
                SU.TELEPHONE =#{mulLoginName} or SU.EMAIL = #{mulLoginName})
            </if>
            <if test="portalLoginName!=null and portalLoginName!=''">
                AND (SU.LOGIN_NAME = #{portalLoginName} or
                SU.TELEPHONE =#{portalLoginName} or SU.EMAIL = #{portalLoginName})
            </if>
            <if test="telephone!=null and telephone!=''">
                AND SU.TELEPHONE LIKE concat(concat('%',#{telephone}),'%')
            </if>
            <if test="telephoneLogin!=null and telephoneLogin!=''">
                AND SU.TELEPHONE = #{telephoneLogin}
            </if>
            <if test="mobile!=null and mobile!=''">
                AND SU.MOBILE LIKE concat(concat('%',#{mobile}),'%')
            </if>
            <if test="email!=null and email!=''">
                AND SU.EMAIL LIKE concat(concat('%',#{email}),'%')
            </if>
            <if test="password!=null and password!=''">
                AND SU.PASSWORD = #{password}
            </if>
            <if test="salt!=null and salt!=''">
                AND SU.SALT = #{salt}
            </if>
            <if test="delInd!=null and delInd!=''">
                AND SU.DEL_IND = #{delInd}
            </if>
            <if test="statusCd!=null and statusCd!=''">
                AND SU.STATUS_CD = #{statusCd}
            </if>
            <if test="version!=null and version!=''">
                AND SU.VERSION = #{version}
            </if>
            <if test="clntendId!=null and clntendId!=''">
                AND SU.CLNTEND_ID = #{clntendId}
            </if>
            <if test="tenantId!=null and tenantId!=''">
                AND SU.TENANT_ID = #{tenantId}
            </if>
            <if test="tenantIdContain!=null and tenantIdContain!=''">
                AND SU.TENANT_ID LIKE concat(concat('%',#{tenantIdContain}),'%')
            </if>

            <if test="createUser!=null and createUser!=''">
                AND SU.CREATE_USER = #{createUser}
            </if>
            <if test="certificateNum!=null and certificateNum!=''">
                AND SU.CERTIFICATE_NUM = #{certificateNum}
            </if>
            <if test="certificateTypeCd!=null and certificateTypeCd!=''">
                AND SU.CERTIFICATE_TYPE_CD = #{certificateTypeCd}
            </if>

            <if test="orgCodes != null and orgCodes.size() > 0">
                AND SO.ORG_CODE IN
                <foreach collection="orgCodes" item="orgCode1" index="index" open="(" close=")" separator=",">
                    #{orgCode1}
                </foreach>
            </if>
        </where>
    </sql>

    <!--根据条件查询列表 -->
    <select id="findUserList" parameterType="map" resultMap="sysUserMap">
        SELECT DISTINCT
        <include refid="column_list"/>
        FROM SYS_USER SU
        LEFT JOIN SYS_USER_ORG_REL SUOR ON SU.USER_NUM = SUOR.USER_NUM
        LEFT JOIN SYS_ORGANIZATION SO ON SO.ORG_CODE = SUOR.ORG_CODE
        <include refid="where_filters"/>
        ORDER BY SU.ID DESC
    </select>


    <!--根据条件查询列表 -->
    <select id="findUserSimpleList" parameterType="map" resultMap="sysUserMap">
        SELECT DISTINCT
        <include refid="column_simple_list"/>
        FROM SYS_USER SU
        LEFT JOIN SYS_USER_ORG_REL SUOR ON SU.USER_NUM = SUOR.USER_NUM
        LEFT JOIN SYS_ORGANIZATION SO ON SO.ORG_CODE = SUOR.ORG_CODE
        <include refid="where_filters"/>
        ORDER BY SU.ID DESC
    </select>
    <!-- 根据登录名统计用户数量，作唯一性判断使用 -->
    <select id="countSysUserByLoginName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
		COUNT(*)
		FROM SYS_USER
		WHERE DEL_IND = '0'
		AND LOGIN_NAME=#{loginName}
	</select>

</mapper>
